@import "tailwindcss";

@theme {
    --animate-dots-appear: dots-appear 2s steps(4, end) infinite;

@keyframes dots-appear {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

    --color-red: #d72638;
    --color-gray: #bdbab9;
    --color-faded-gray: #bdbab933;
    --color-green: #59c173;
    --color-faded-green: #59c1730d;
    --color-vfaded-green: #59c17333;
    --color-stone: #faf9f9;
}
